* {
    margin:0px;
    border:0px;
    padding:0px; 
    /* ^ Resets the default values */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color:rgb(240,240,240);
    text-decoration:none;
    /* ^ Fixes link decoration */
}

#info {
    margin-top:400px; /*Info bar distance from top*/

    width:auto;
    height:100px;
}

#welcome {
    padding-top:5px;
}

#welcome h1 {
    letter-spacing:10px;
	margin-left:300px;
    width:450px;
}
#welcome h2 {
    font-size:250%;
    margin-top:4px;
    letter-spacing:10px;
    margin-top:4px;
	margin-left:300px;
    width:450px;
    float:left;
    text-align:left;
}

#debug {
    padding-left:350px;
    margin-top:0px;
    opacity:0.1;
}


#bookmarks {
    display:inline;
    float:left;
}

/*START OF BOOKMARKS*/

#facebook h1, #linustt h1, #youtube h1, #gmail h1 {
    margin-top:22px;
    transition:200ms;
    color:#f2f2f2;
}

#facebook {
    margin-top:-42px;
    margin-left:200px;
    height:100px;
    width:100px;
    float:left;
    text-align:center;
    font-size:150%;
} #facebook:hover h1 {
    color:rgb(78, 105, 162);
    transition:90ms;
} 

#youtube {
    margin-top:-42px;
    margin-left:13px;
    height:100px;
    width:100px;
    float:left;
    text-align:center;
    font-size:150%;
} #youtube:hover h1 {
      transition:90ms;
      color:rgb(230, 33, 23);
}

#gmail {
    margin-top:-42px;
    margin-left:13px;
    height:100px;
    width:100px;
    float:left;
    text-align:center;
    font-size:150%;
} #gmail:hover h1 {
      transition:90ms;
      color:rgb(214, 73, 55);
}

#linustt {
    margin-top:-42px;
    margin-left:30px;
    height:100px;
    width:100px;
    float:left;
    text-align:center;
    font-size:150%;
} #linustt:hover h1 {
      transition:90ms;
      color:rgb(247, 74, 20);
}
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4178be;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
